* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #e7f2f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 60px;
}

.personalize-box {
    background-color: #21215E;
    color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    width: 90%;
    margin-top: 50px;
    padding-bottom: 20px;
}

#heading {
    text-align:left;
    margin-bottom: 30px;
}

#personalise {
    font-size: 36px;
    letter-spacing: 1.5px;
}

#select {
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color: rgba(224, 221, 221, 0.8);
    margin-top: 5px;
    margin-bottom: 30px;
}

/* Grid for layout */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid layout */
    gap: 30px;
    margin-bottom: 30px;
}

.grid-item {
    background-color: #d3d3d3;
    border-radius: 15px;
    height: 250px;
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative; /* For text and image overlay positioning */
}

.grid-item:hover {
    background-color: #b0b0b0;
    transform: scale(1.1);
    opacity: 0.85; /* Softer hover effect */
}

/* Slideshow / Image container */
.slideshow {
    position: relative;
    width: 100%;
    height: 100%;
}


.slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; /* Ensure image always displays */
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Shadow for better readability */
    text-align: center;
    z-index: 1; /* Ensures the text is over the image */
}

.grid-item:hover .text-overlay {
    font-size: 40px; /* Increase text size on hover */
}

.nextButton{
    display: flex;
    justify-content: right;
    margin-top: -30px;
}

.next-btn {
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 22px;
    padding: 12px 20px;
    background-color: #21215E;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.next-btn:hover {
    background-color: #4644b5;
    text-decoration: none;
}
