/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #e7f2f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  margin: 0;
  padding-top: 3%;
  padding-bottom: 3%;
}

/* Container Styling */
.container {
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px 40px;
  width: 40%;
  min-height: 60vh;
}

.container h2 {
  font-size: 2rem;
  color: #21215e;
  margin-bottom: 20px;
  text-align: center;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container label {
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
}

.container input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.container input:focus {
  border-color: #007bff;
  background-color: #fff;
  outline: none;
}

.container button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #21215e;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.container button:hover {
  background-color: #007bff;
  transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    width: 80%;
  }

  .container h2 {
    font-size: 1.5rem;
  }

  .container button {
    font-size: 0.9rem;
  }
}
