* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E5F4F5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    margin: 0;
    padding-top: 3px;
    padding-bottom: 3px;
}
  
.container {
    width: 90%;
    margin: 50px auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    min-height: 90vh;
    padding-left: 3%;
    padding-right: 3%;
}
  
.back-btn {
    background: #E5F4F5;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    color: #21215E;
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    top: 20px;
    left: 3%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.back-btn:hover {
    background-color: #21215E;
    color: #E5F4F5;
}
  
.title {
    text-align: center;
    font-size: 3.5rem;
    margin: 10px 0;
}
  
.date-range {
    text-align: center;
    color: #555;
    margin-bottom: 20px;
}
  
.add-new-btn {
    position: absolute;
    top: 20px;
    right: 3%;
    background: #E5F4F5;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    color: #21215E;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.add-new-btn:hover {
    background-color: #21215E;
    color: #E5F4F5;
}
  
.card-list {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    /* padding-left: 3%;
    padding-right: 3%; */
}
  
.card {
    background-color: #E5F4F5;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
.card h2 {
    margin: 0;
    font-size: 18px;
    color: #21215E;
    padding-top: 4px;
}
  
.card p {
    margin: 5px 0 0;
    color: #555;
    padding-bottom: 4px;
}